@import "tailwindcss";

:root {
  --gc-font: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Inter, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  --nav-height: 4.5rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--gc-font);
}